#CONFIG APP
APP_STATUS=development
APP_PORT=4001
AUTO_MIGRATION_SWITCH=1
#DATABASE
DB_USERNAME=postgres
DB_PASSWORD=root
DB_NAME=aws
DB_HOST=localhost
DB_PORT=5432
DB_SSLMODE=disable
DB_CONN_MAX_IDLE_TIME=30m
DB_CONN_MAX_LIFE_TIME=30m
DB_MAX_OPEN_CONN=50
DB_MAX_IDLE_CONN=10
#LOGGER
LOGGER_STDOUT=true
LOGGER_FILE_LOCATION=app.log
LOGGER_LEVEL=info
#AWS
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key
AWS_DEFAULT_REGION=ap-southeast-1
AWS_BUCKET=your-s3-bucket-name
AWS_URL_API=https://your-s3-bucket-name.s3.ap-southeast-1.amazonaws.com
AWS_ACL=public-read
